*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  margin: auto;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: center;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
}

.result__video {
  object-fit: contain;
}

.content__list-container {
  height: 298px;
  overflow: scroll;
}
.content__details {
  display: grid;
  gap: 26px;
  max-width: 399px;
  max-height: 534px;
}

.content__list-item {
  margin-bottom: 20px;
}

.content__video-card {
  max-width: 390px;
  display: grid;
  grid-template-columns: 194px 196px;
  align-items: start;
}

.content__video-card-thumbnail {
  width: 196px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.content__accent {
  color: #545050;
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.title {
  color: #ffffff;
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.content__card-link {
  text-decoration: none;
  color: #ffffff;
}

.content__video-card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0%;
  /* line-clamp пошел */
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 34px;
  align-items: center;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.h2 {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

/* .button{} */

/* .more-button{} */

/* DEFAULT */

.search-form__textfield {
  background-color: transparent;
  min-height: 27px;
  border: none;
  border-top: solid 0.5px #ffffff;
  border-bottom: solid 0.5px #ffffff;
  color: #ffffff;
  appearance: none;
  outline: none;
}

.search-form__pseudo-checkbox {
  display: flex;
  width: 19px;
  height: 19px;
  justify-content: center;
  position: relative;
  background-color: transparent;
  border: solid 1px #ffffff;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: transparent;
  position: absolute;
  top: 1px;
  left: 1px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  background-color: #ffffff;
}

.search-form__submit-button {
  margin-left: 74px;
  margin-top: 10px;
  width: 194px;
  height: 34px;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  background-color: #1b1919;
  border: solid 1px #ffffff;
  padding: 10px 20px;
  cursor: pointer;
}
/* ACTIVE */
.search-form__textfield:active {
  border: none;
  /* border: solid 1px #FFFFFF; */
}

.search-form__pseudo-checkbox:active::after {
  background-color: #ffffff;
}

.search-form__submit-button:active {
  background-color: #545050;
}

/* HOVER */

/* input мы пропускаем */

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__submit-button:hover {
  text-decoration: underline;
}

/* FOCUS */

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: solid 0.5px #ffffff;
  outline-offset: 1px;
}

.search-form__checkbox:focus + .search-form__pseudo-checkbox {
  border: none;
  outline: 0.5px solid #ffffff;
  border-top: 0.5px solid #ffffff;
}

.search-form__submit-button:focus-visible {
  outline: solid 1px #ffffff;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: solid 1px #ffffff;
  outline-offset: 1px;
}

/* ARTICLES */

.article {
  display: block;
}
.content__list-item {
  padding: 3px;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card:focus {
  outline: none;
}

.content__video-card:focus-visible {
  outline: none;
  outline: solid 1px #ffffff;
}

.result__video-container {
  position: relative;
}

.content__list-container {
  position: relative;
}
